//     _________  ____ _____________________
//    / ___/ __ \/ __ `/ ___/ ___/ ___/ ___/
//   / /  / /_/ / /_/ / /  / /__(__  |__  )
//  /_/   \____/\__,_/_(_) \___/____/____/
//
// +==============================================================================
// | PSEUDO
// +==============================================================================

// -------------------------------------------------------------------------------
//  Selection
// -------------------------------------------------------------------------------

@mixin selection() {
	&::selection,
	&::-moz-selection {
		@content;
	}
}

// -------------------------------------------------------------------------------
//  Placeholder
// -------------------------------------------------------------------------------

@mixin placeholder($color: $muted-color) {
	&:-moz-placeholder {
		color: $color;
		@content
	}
	&::-moz-placeholder {
		color: $color;
		@content
	}
	&:-ms-input-placeholder {
		color: $color;
		@content
	}
	&::-webkit-input-placeholder {
		color: $color;
		@content
	}
}

// -------------------------------------------------------------------------------
//  Pseudo Element
// -------------------------------------------------------------------------------

@mixin pseudo($el, $width, $height) {
	@if $el == "before" or $el == "after" {
		&:#{$el} {
			content: "";
			position: absolute;
			width: $width;
			height: $height;
			@content;
		}
	} @else {
		@warn "`#{$el}` is not a valid pseudo-element.";
	}
}

// # USAGE #
//  .icon {
//    @include pseudo(before, 1.56em, .125em) {
//      background: #333;
//      top: .25em;
//    }
//  }
